.star-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4px 12px;
  background-color: #111;
  color: #fff;
  z-index: 99;
  border-bottom: 5px solid #bf9a6e;
  text-align: right;
  font-size: 12px;
}
