.apviz-content {
  .options-wapper {
    position: relative;

    .select-wrap {
      margin-bottom: 8px;
    }

    select {
      min-width: 240px;
      appearance: none;
      padding: 8px;
      outline: 0;
      cursor: pointer;
      border-radius: 5px;
      font-size: 14px;
      letter-spacing: 2px;
    }
  }

  .loading-content {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.apviz-3d-canvas {
  background: black;
}
