.codes-pre {
  position: relative;
  background-color: #eee;
  border-left: 6px solid #00458b;
  padding: 24px;
  margin-bottom: 24px;
  font-family: consolas, 'Liberation Mono', courier, monospace;
  line-height: 18px;
}
