.banner-title-wrap {
  max-width: 1280px;
  margin: 0 auto 20px auto;
  padding: 0 15px;

  .text-headline {
    font-size: 28px;
    padding: 20px 0;
    border-bottom: 1px solid #e9e8e7;
    font-weight: 100;
  }
}
